/* FOOTER CSS  */
.footer_section {
    padding: 70px 0;
    position: relative;
    padding-bottom: 30px;
    background: url('../../assets/footer/footer_background.png') no-repeat;
    background-position: bottom;
    background-size: cover;
}

.footer_logo a {
    max-width: 200px;
    height: 70px;
    display: inline-block;
}

.footer_logo a img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.footer_text p {
    font-size: 14px;
    color: var(--font-color);
    font-weight: 500;
    margin-top: 30px;
}

.footer_content_area {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer_col {
    flex: 1;
}

.footer_col:first-child {
    flex: 1.8;
}

.footer_heading {
    position: relative;
    margin-bottom: 40px;
}

.footer_heading::after {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    height: 3px;
    width: 30px;
    bottom: -15px;
    left: 0;
    border-radius: 9px;
}

.footer_links ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_links ul li {
    list-style: none;
}

.footer_links ul li a {
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--font-color);
    transition: all .3s ease-in-out;
}

.footer_links ul li a:hover {
    color: var(--primary-color);
}

.footer_links ul li a svg,
.footer_links ul li p svg {
    margin-right: 9px;
    font-size: 15px;
}




.footer_copyright p {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: var(--font-color);
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
}

.footer_copyright p a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

.footer_copyright p a:hover {
    color: var(--bg-color);
}


@media only screen and (max-width:1400px) {
    .footer_text p {
        padding-right: 20px;
    }
}

@media only screen and (max-width:991px) {
    .footer_col {
        flex: 0 0 calc(50% - 10px);
    }

    .footer_col:nth-child(even) {
        padding-left: 40px;
    }

    .footer_content_area {
        row-gap: 40px;
    }

    .footer_logo a {
        max-width: 150px;
        height: 50px;
    }
}

@media only screen and (max-width:767px) {
    .footer_logo a {
        max-width: 130px;
        height: 43px;
    }

    .footer_links ul {
        gap: 5px;
    }
}

@media only screen and (max-width:575px) {
    .footer_section {
        padding-top: 40px;
    }

    .footer_col {
        flex: 100%;
    }

    .footer_col:nth-child(even) {
        padding-left: 0;
    }

    .footer_heading h5 {
        font-size: 18px;
    }

    .footer_heading::after {
        height: 2px;
        bottom: -12px;
    }
        .footer_text p {
        padding-right: 0;
        margin-top: 20px;
    }
        .menu_items {
        width: 100%;
        left: -100%;
        z-index: 99999;
    }
        .menu_items.active {
        left: 0;
    }
}


@media only screen and (max-width:480px){
       .footer_logo  a {
        max-width: 115px;
        height: 38px;
    }
    .footer_links ul li a {
    font-size: 14px;
}
.footer_links ul li a svg, .footer_links ul li p svg {
    font-size: 14px;
}
.footer_copyright p {
    font-size: 14px;
}
.footer_copyright p a{
    font-size: 15px;
}
}


@media only screen and (max-width:360px){
    .footer_section{
        padding-bottom: 20px;
    }
    .footer_heading {
    margin-bottom: 35px;
}
        .footer_heading h5 {
        font-size: 17px;
    }
    .footer_copyright p {
    padding-top: 15px;
    font-size: 13px;
}
    .footer_copyright p a {
    font-size: 14px;
}

}